# Graph data analysis with NetworkX and pydash

In [1]:
%pip install networkx requests pandas pydash pydantic

Requirement already satisfied: networkx in /opt/conda/lib/python3.11/site-packages (3.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: pydash in /opt/conda/lib/python3.11/site-packages (7.0.6)
Requirement already satisfied: pydantic in /opt/conda/lib/python3.11/site-packages (2.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2023.7.22)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions!=4.6.0,>=3.10 in /opt/conda/lib/python3.11/site-packages (from pydash) (4.8.0)
Requirement already satisfied: annotated-types>=0.4.0 in /opt/conda/lib/python3.11/site-packages (from pydantic) (0.5.0)
Requirement already satisfied: pydantic-core==2.6.3 in /opt/conda/lib/python3.11/site-packages (from pydantic) (2.6.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import networkx as nx
import pandas as pd
from pydash import py_
import requests

In [3]:
API_URL = "https://api.nobelprize.org/2.1"

r = requests.get(f"{API_URL}/laureates", params={"limit": 2000})
laureates = r.json()["laureates"]

## Defining node models

In [4]:
from enum import (
    Enum,
    auto,
)

class NodeType(Enum):
    LAUREATE_PERSON = auto()
    LAUREATE_ORGANIZATION = auto()
    PRIZE = auto()
    INSTITUTION = auto()

In [5]:
import abc
from typing import (
    ClassVar,
    Optional,
)

from pydantic import (
    BaseModel,
    Field,
)


class Node(BaseModel, abc.ABC):
    node_type: ClassVar[NodeType]
    id: str

    def __hash__(self) -> int:
        return self.id.__hash__()

In [6]:
class LaureatePerson(Node):
    node_type = NodeType.LAUREATE_PERSON
    name: str
    gender: str
    birth_date: Optional[str] = None
    death_date: Optional[str] = None
    birth_location: Optional[str] = None
    birth_country: Optional[str] = None

    @classmethod
    def from_dict(cls, data: dict) -> "LaureatePerson":
        l = py_(data)
        full_name = l.get("fullName.en")

        return cls(
            id=full_name.kebab_case().value(),
            name=full_name.value(),
            gender=l.get("gender").value(),
            birth_date=l.get("birth.date").value(),
            death_date=l.get("death.date").value(),
            birth_location=l.get("birth.place.locationString.en").value(),
            birth_country=l.get("birth.place.countryNow.en").value(),
        )


class LaureateOrganization(Node):
    node_type = NodeType.LAUREATE_ORGANIZATION
    name: str

    @classmethod
    def from_dict(cls, data: dict) -> "LaureateOrganization":
        org_name = py_.get(data, "orgName.en")

        return cls(
            id=py_.kebab_case(org_name),
            name=org_name,
        )

In [7]:
class Prize(Node):
    node_type = NodeType.PRIZE
    award_year: str
    category_slug: str
    sort_order: int
    portion: str
    motivation: str
    prize_status: str
    date_awarded: Optional[str] = None

    @classmethod
    def from_dict(cls, data: dict) -> "Prize":
        p = py_(data)
        award_year = p.get("awardYear").value()
        category_slug = p.get("category.en").kebab_case().value()
        sort_order = p.get("sortOrder").value()

        return cls(
            id=f"{award_year}-{category_slug}-{sort_order}",
            award_year=award_year,
            category_slug=category_slug,
            sort_order=sort_order,
            portion=p.get("portion").value(),
            motivation=p.get("motivation.en").value(),
            prize_status=p.get("prizeStatus").value(),
            date_awarded=p.get("dateAwarded").value(),
        )

In [8]:
class Institution(Node):
    node_type = NodeType.INSTITUTION
    location: Optional[str] = None
    country: Optional[str] = None

    @classmethod
    def from_dict(cls, data: dict) -> "Institution":
        inst = py_(data)
        name = inst.get("name.en")

        return cls(
            id=name.kebab_case().value(),
            name=name.value(),
            location=inst.get("locationString.en").value(),
            country=inst.get("countryNow.en").value(),
        )

## Loading the dataset into a graph structure

In [9]:
G = nx.Graph()

In [10]:
for laureate in laureates:
    if laureate.get("fullName") is not None:
        laureate_node = LaureatePerson.from_dict(laureate)

    else:
        laureate_node = LaureateOrganization.from_dict(laureate)
    
    G.add_node(laureate_node)

    for prize in laureate.get("nobelPrizes"):
        prize_node = Prize.from_dict(prize)

        G.add_edge(prize_node, laureate_node)

        for affiliation in prize.get("affiliations", []):
            institution_node = Institution.from_dict(affiliation)
            G.add_edge(prize_node, institution_node)

## Querying the graph structure

### Female laureates, deceased

In [11]:
(
    py_(G.nodes.keys())
    .filter({"node_type": NodeType.LAUREATE_PERSON})
    .filter("death_date")
    .filter({"gender": "female"})
    .sort_by("death_date", reverse=True)
    .invoke_map("model_dump")
    .thru(pd.DataFrame)
    .value()
)

,id,name,gender,birth_date,death_date,birth_location,birth_country
0,elizabeth-williams,Elizabeth Williams,female,1943-05-22,2020-03-17,"Belfast, Northern Ireland",Northern Ireland
1,toni-morrison,Toni Morrison,female,1931-02-18,2019-08-05,"Lorain, OH, USA",USA
2,nadine-gordimer,Nadine Gordimer,female,1923-11-20,2014-07-13,"Springs, South Africa",South Africa
3,doris-lessing,Doris Lessing,female,1919-10-22,2013-11-17,"Kermanshah, Persia (now Iran)",Iran
4,rita-levi-montalcini,Rita Levi-Montalcini,female,1909-04-22,2012-12-30,"Turin, Italy",Italy
5,elinor-ostrom,Elinor Ostrom,female,1933-08-07,2012-06-12,"Los Angeles, CA, USA",USA
6,wislawa-szymborska,Wislawa Szymborska,female,1923-07-02,2012-02-01,"Bnin (now Kórnik), Poland",Poland
7,wangari-muta-maathai,Wangari Muta Maathai,female,1940-04-01,2011-09-25,"Nyeri, Kenya",Kenya
8,rosalyn-yalow,Rosalyn Yalow,female,1921-07-19,2011-05-30,"New York, NY, USA",USA
9,gertrude-b-elion,Gertrude B. Elion,female,1918-01-23,1999-02-21,"New York, NY, USA",USA
10,mother-teresa,Mother Teresa,female,1910-08-26,1997-09-05,"Uskup, Ottoman Empire (now Skopje, North Maced...",North Macedonia
11,dorothy-crowfoot-hodgkin,Dorothy Crowfoot Hodgkin,female,1910-05-12,1994-07-29,"Cairo, Egypt",Egypt
12,barbara-mc-clintock,Barbara McClintock,female,1902-06-16,1992-09-02,"Hartford, CT, USA",USA
13,alva-myrdal,Alva Myrdal,female,1902-01-31,1986-02-01,"Uppsala, Sweden",Sweden
14,pearl-buck,Pearl Buck,female,1892-06-26,1973-03-06,"Hillsboro, WV, USA",USA
15,maria-goeppert-mayer,Maria Goeppert Mayer,female,1906-06-28,1972-02-20,"Kattowitz, Germany (now Katowice, Poland)",Poland
16,nelly-sachs,Nelly Sachs,female,1891-12-10,1970-05-12,"Berlin, Germany",Germany
17,emily-greene-balch,Emily Greene Balch,female,1867-01-08,1961-01-09,"Jamaica Plain, MA (now Boston, MA), USA",USA
18,gerty-theresa-cori-nee-radnitz,"Gerty Theresa Cori, née Radnitz",female,1896-08-15,1957-10-26,"Prague, Austria-Hungary (now Czech Republic)",Czech Republic
19,gabriela-mistral,Gabriela Mistral,female,1889-04-07,1957-01-10,"Vicuña, Chile",Chile
20,irene-joliot-curie,Irène Joliot-Curie,female,1897-09-12,1956-03-17,"Paris, France",France
21,sigrid-undset,Sigrid Undset,female,1882-05-20,1949-06-10,"Kalundborg, Denmark",Denmark
22,selma-ottilia-lovisa-lagerlof,Selma Ottilia Lovisa Lagerlöf,female,1858-11-20,1940-03-16,"Mårbacka, Sweden",Sweden
23,grazia-deledda,Grazia Deledda,female,1871-09-27,1936-08-15,"Nuoro, Sardinia, Italy",Italy
24,jane-addams,Jane Addams,female,1860-09-06,1935-05-21,"Cedarville, IL, USA",USA
25,marie-curie-nee-sklodowska,"Marie Curie, née Sklodowska",female,1867-11-07,1934-07-04,"Warsaw, Russian Empire (now Poland)",Poland
26,baroness-bertha-sophie-felicita-von-suttner-ne...,"Baroness Bertha Sophie Felicita von Suttner, n...",female,1843-06-09,1914-06-21,"Prague, Austrian Empire (now Czech Republic)",Czech Republic

### Female laureates, living

In [12]:
(
    py_(G.nodes.keys())
    .filter({"node_type": NodeType.LAUREATE_PERSON})
    .reject("death_date")
    .filter({"gender": "female"})
    .invoke_map("model_dump")
    .thru(pd.DataFrame)
    .value()
)

,id,name,gender,birth_date,death_date,birth_location,birth_country
0,ada-e-yonath,Ada E. Yonath,female,1939-06-22,None,"Jerusalem, British Mandate of Palestine (now I...",Israel
1,alice-munro,Alice Munro,female,1931-07-10,None,"Wingham, Canada",Canada
2,andrea-ghez,Andrea Ghez,female,1965-06-16,None,"New York, NY, USA",USA
3,annie-ernaux,Annie Ernaux,female,1940-09-01,None,"Lillebonne, France",France
4,aung-san-suu-kyi,Aung San Suu Kyi,female,1945-06-19,None,"Rangoon, Burma (now Yangon, Myanmar)",Myanmar
5,carol-w-greider,Carol W. Greider,female,1961-04-15,None,"San Diego, CA, USA",USA
6,carolyn-r-bertozzi,Carolyn R. Bertozzi,female,1966-10-10,None,"Boston, MA, USA",USA
7,christiane-nusslein-volhard,Christiane Nüsslein-Volhard,female,1942-10-20,None,"Magdeburg, Germany",Germany
8,donna-strickland,Donna Strickland,female,1959-05-27,None,"Guelph, Canada",Canada
9,elfriede-jelinek,Elfriede Jelinek,female,1946-10-20,None,"Mürzzuschlag, Austria",Austria
10,elizabeth-h-blackburn,Elizabeth H. Blackburn,female,1948-11-26,None,"Hobart, Tasmania, Australia",Australia
11,ellen-johnson-sirleaf,Ellen Johnson Sirleaf,female,1938-10-29,None,"Monrovia, Liberia",Liberia
12,emmanuelle-charpentier,Emmanuelle Charpentier,female,1968-12-11,None,"Juvisy-sur-Orge, France",France
13,esther-duflo,Esther Duflo,female,1972-10-25,None,"Paris, France",France
14,frances-h-arnold,Frances H. Arnold,female,1956-07-25,None,"Pittsburgh, PA, USA",USA
15,francoise-barre-sinoussi,Françoise Barré-Sinoussi,female,1947-07-30,None,"Paris, France",France
16,herta-muller,Herta Müller,female,1953-08-17,None,"Nitzkydorf, Banat, Romania",Romania
17,jennifer-a-doudna,Jennifer A. Doudna,female,1964-02-19,None,"Washington, D.C., USA",USA
18,jody-williams,Jody Williams,female,1950-10-09,None,"Putney, VT, USA",USA
19,leymah-gbowee,Leymah Gbowee,female,1972-02-01,None,"Monrovia, Liberia",Liberia
20,linda-b-buck,Linda B. Buck,female,1947-01-29,None,"Seattle, WA, USA",USA
21,louise-gluck,Louise Glück,female,1943-04-22,None,"New York, NY, USA",USA
22,mairead-corrigan,Mairead Corrigan,female,1944-01-27,None,"Belfast, Northern Ireland",Northern Ireland
23,malala-yousafzai,Malala Yousafzai,female,1997-07-12,None,"Mingora, Pakistan",Pakistan
24,maria-ressa,Maria Ressa,female,1963-10-02,None,"Manila, Philippines",Philippines
25,may-britt-moser,May-Britt Moser,female,1963-01-04,None,"Fosnavåg, Norway",Norway
26,nadia-murad-basee-taha,Nadia Murad Basee Taha,female,1993-00-00,None,"Kojo, Iraq",Iraq
27,olga-tokarczuk,Olga Tokarczuk,female,1962-01-29,None,"Sulechów, Poland",Poland
28,rigoberta-menchu-tum,Rigoberta Menchú Tum,female,1959-01-09,None,"Aldea Chimel, Guatemala",Guatemala
29,shirin-ebadi,Shirin Ebadi,female,1947-06-21,None,"Hamadan, Iran",Iran
30,svetlana-alexievich,Svetlana Alexievich,female,1948-05-31,None,"Ivano-Frankivsk, Ukraine",Ukraine
31,tawakkol-karman,Tawakkol Karman,female,1979-02-07,None,"Ta'izz, Yemen",Yemen
32,tu-youyou,Tu Youyou,female,1930-12-30,None,"Zhejiang Ningbo, China",China

### Person laureates which have been awarded multiple times

In [13]:
v_prize_laureate = nx.subgraph_view(
    G,
    filter_node=lambda n: n.node_type
    in [NodeType.PRIZE, NodeType.LAUREATE_PERSON, NodeType.LAUREATE_ORGANIZATION],
)

In [14]:
(
    py_(G.nodes.keys())
    .filter({"node_type": NodeType.LAUREATE_PERSON})
    .filter(lambda n: v_prize_laureate.degree(n) > 1)
    .invoke_map("model_dump")
    .thru(pd.DataFrame)
    .value()
)

,id,name,gender,birth_date,death_date,birth_location,birth_country
0,frederick-sanger,Frederick Sanger,male,1918-08-13,2013-11-19,"Rendcombe, United Kingdom",United Kingdom
1,john-bardeen,John Bardeen,male,1908-05-23,1991-01-30,"Madison, WI, USA",USA
2,k-barry-sharpless,K. Barry Sharpless,male,1941-04-28,None,"Philadelphia, PA, USA",USA
3,linus-carl-pauling,Linus Carl Pauling,male,1901-02-28,1994-08-19,"Portland, OR, USA",USA
4,marie-curie-nee-sklodowska,"Marie Curie, née Sklodowska",female,1867-11-07,1934-07-04,"Warsaw, Russian Empire (now Poland)",Poland

In [15]:
import itertools as it

import matplotlib.pyplot as plt

In [16]:
n = list(G.nodes)[6]
n

LaureatePerson(id='aaron-ciechanover', name='Aaron Ciechanover', gender='male', birth_date='1947-10-01', death_date=None, birth_location='Haifa, British Protectorate of Palestine (now Israel)', birth_country='Israel')

In [17]:
for node, edges in it.islice(nx.single_source_shortest_path(G, n, 1).items(), 1, None):
    print(node.id)
    print([e.id for e in edges])

2004-chemistry-1
['aaron-ciechanover', '2004-chemistry-1']

In [19]:
to_joined_dataframe = (
    py_()
    .map_values(lambda rel, n: [rel_n.model_dump() | n.model_dump() for rel_n in rel])
    .values()
    .flatten()
    .thru(pd.DataFrame)
)

In [20]:
(
    py_(G.nodes.keys())
    .filter({"node_type": NodeType.LAUREATE_PERSON})
    .filter(lambda n: v_prize_laureate.degree(n) > 1)
    # .map(lambda n: (n, list(v_prize_laureate.adj[n].keys())))
    .reduce(lambda acc, n: acc | {n: list(v_prize_laureate.adj[n].keys())}, {})
    # .map_values(lambda prizes, n: [pn.model_dump() | {"fk": n.id} for pn in prizes])
    # .map_values(lambda prizes, n: [pn.model_dump() | n.model_dump() for pn in prizes])
    # .values()
    # .flatten()
    # .thru(pd.DataFrame)
    .thru(to_joined_dataframe)
    .value()
)

,id,award_year,category_slug,sort_order,portion,motivation,prize_status,date_awarded,name,gender,birth_date,death_date,birth_location,birth_country
0,frederick-sanger,1958,chemistry,1,1,"for his work on the structure of proteins, esp...",received,1958-10-28,Frederick Sanger,male,1918-08-13,2013-11-19,"Rendcombe, United Kingdom",United Kingdom
1,frederick-sanger,1980,chemistry,3,1/4,for their contributions concerning the determi...,received,1980-10-14,Frederick Sanger,male,1918-08-13,2013-11-19,"Rendcombe, United Kingdom",United Kingdom
2,john-bardeen,1956,physics,2,1/3,for their researches on semiconductors and the...,received,1956-11-01,John Bardeen,male,1908-05-23,1991-01-30,"Madison, WI, USA",USA
3,john-bardeen,1972,physics,1,1/3,for their jointly developed theory of supercon...,received,1972-10-20,John Bardeen,male,1908-05-23,1991-01-30,"Madison, WI, USA",USA
4,k-barry-sharpless,2001,chemistry,3,1/2,for his work on chirally catalysed oxidation r...,received,2001-10-10,K. Barry Sharpless,male,1941-04-28,None,"Philadelphia, PA, USA",USA
5,k-barry-sharpless,2022,chemistry,3,1/3,for the development of click chemistry and bio...,received,2022-10-05,K. Barry Sharpless,male,1941-04-28,None,"Philadelphia, PA, USA",USA
6,linus-carl-pauling,1962,peace,1,1,for his fight against the nuclear arms race be...,received,1963-10-10,Linus Carl Pauling,male,1901-02-28,1994-08-19,"Portland, OR, USA",USA
7,linus-carl-pauling,1954,chemistry,1,1,for his research into the nature of the chemic...,received,1954-11-03,Linus Carl Pauling,male,1901-02-28,1994-08-19,"Portland, OR, USA",USA
8,marie-curie-nee-sklodowska,1903,physics,3,1/4,in recognition of the extraordinary services t...,received,1903-11-12,"Marie Curie, née Sklodowska",female,1867-11-07,1934-07-04,"Warsaw, Russian Empire (now Poland)",Poland
9,marie-curie-nee-sklodowska,1911,chemistry,1,1,in recognition of her services to the advancem...,received,1911-11-07,"Marie Curie, née Sklodowska",female,1867-11-07,1934-07-04,"Warsaw, Russian Empire (now Poland)",Poland